@media (min-width : 0px) and (max-width: 2015px)  {
   .appLinkCustomTheme {
        font-size: 15px;
        height: 31px;
    }
    
    .appTitleCustomTheme {
        font-size: 17px;
    }
    
    .appDescrCustomTheme {
        font-size: 13px;
    }
    
    .iconAppCustomTheme {
        width: 125px;
    }
}

.formBtnCustomTheme {
    font-weight: bold;
    border: 1px;
    border-color:#FFF;
    color: #FFF;
    background-color: #00AFCF;
}

.formBtnCustomTheme:hover {
	background-color: #00A2C0;
}

.bigCustomTheme {
	border-radius: 2px;    
   	box-shadow: 0px 2px 4px rgba(214, 214, 214, 1);
}

.imgContainerCustomTheme {
	border-radius: 2px;    
    background-color: #E5E5E5;
    border-bottom-style: solid;
    border-bottom-color: #D6D6D6;
}

.imgContainerCustomTheme:hover {
    background-color: #F5F5F5;
}

.secCustomTheme {
	background-color: rgb(245, 245, 245);
}

.appTitleCustomTheme {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 500px;
}

.appDescrCustomTheme {
    font-family: "Roboto", sans-serif; 
    font-size: 14px;
    color: #818181;
    text-overflow: ellipsis;
}

.blockPlatformCustomTheme {
	background-color: #FFF;
    border: 1px;
    border-color: #DFDFDF;
    border-style: solid;
}

.alignIconCustomTheme {
    background-repeat: no-repeat;
    background-position: center center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 17px;
    height: 17px;
}

.webappCustomTheme {
	background-image: url("../images/web.png");
}

.androidCustomTheme {
	background-image: url("../images/android.png");
}

.iosCustomTheme {
	background-image: url("../images/apple.png");
}

.windowsphone8CustomTheme {
	background-image: url("../images/windows.png");
}

.appLinkCustomTheme {
    color: rgb(12, 155, 197);
}

.appLinkCustomTheme>a {
	text-decoration: none;
	color: rgb(12, 155, 197);
}

.iconAppCustomTheme {
	width: 150px;
}

.bgIconCustomTheme {
	background-color: rgb(249, 249, 249);
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 0px;
	border-radius: 5px;
	border: 1px;
	border-style: solid;
}

.bgIconCustomTheme:hover {
	background-color: #FFF;
}

.borderRunCustomTheme {
	border-color: rgb(56, 146, 168);
}

.borderDlCustomTheme {
	border-color: #629600;
}

.imgDlCustomTheme {
	width: 150px;	
	border-color: #66A6B5;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
}

.customHeaderCustomTheme {
	border-color: #0A6980;
	border-bottom-style: solid;
	background-color: #13839E;
}

.userCustomTheme {
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	color: #FFF;
	background-color: #09677E;
	border-radius: 5px;
}

@media (max-width: 430px)  {
  .userCustomTheme {
      font-size: 12px;
  }
}

.bannerContentCustomTheme {
	border-bottom-style: solid;
	border-bottom-color: #D6D6D6;
	background-color: #E5E5E5;
}

.bannerTextCustomTheme {
	background-color: #FAFAFA;
	color: #737373;
}

.closeBtnCustomTheme {
	border-radius: 90px;
	box-shadow: 0px 2px 5px 1px rgba(160, 160, 160, 1);
	color: #FFFFFF;
	font-weight: bold;
	background-color: #D6D6D6;
}

.closeBtnCustomTheme:hover  {
	background-color: #A8A7A7;
}

.footerCustomTheme {
	background-color: #13839E;
	color: #FFF;
}
