.folder {
    background-image: url(../../admin/images/folder.gif) !important;
}

/*********************************
* Jstree projects tree view
*********************************/
.projectsTreeView tbody>tr>td {
    /* overflow-x: hidden; */
    /* white-space: nowrap; */
    user-select: initial;
}

.projectsTreeView tbody>tr>td>input {
    border: none;
}

.projectsTreeView thead>tr>th {
    text-align: left
}

.jstree-rename-input {
    width: 100% !important; 
}

.jstree-header {
    display: block !important;
    background: none !important;
}

/* Header separator of the jstree grid plugin */
/*.jstree-grid-separator-regular {
  border-style: none !important;
}*/

/*********************************
* Jstree context menu
*********************************/

/* Icons of the context menu */
.vakata-context li>a>i {
    background-repeat: no-repeat;
    /* Center */
    background-position: 7px 7px;
}

.contextmenu-entry-default:before {
    content: "\2713";
}

/*********************************
* Modal
*********************************/

.align-right {
    text-align: right;
}

div.modal button {
    /* space between buttons */
    margin-right: 10px;
}

/*********************************
* Palette
*********************************/

/* Sub categories */
.tab-palette>div>div.sub-category {
    margin-bottom: 10px;
}

/* Div containing the icon + text of each sub category */
.tab-palette>div>div.sub-category>div {
    display: inline-block;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 210px;
}

/* Div icons of sub categories */
.tab-palette>div>div.sub-category>div>i,
.tab-palette>div>div.category>i {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align:middle;
    margin-right: 8px;
}

/* Div icons of the categories */
.tab-palette>div>div.category>i {
    background-repeat: no-repeat;
    background-size: 32px 32px;
}

/* Div containing the icon + text of each category */
.tab-palette>div>div.category {
    cursor: pointer;
    margin-bottom: 20px;
}

/*********************************
* Drag and drop
*********************************/

i.draggable {
    display: inline-block;
    width: 32px !important;
    height: 32px !important;
}

.checkmark {
    background: url(../img/checkmark.png) no-repeat;
}

.forbidden {
    background: url(../img/forbidden.png) no-repeat;
}

/*********************************
* jQuery UI tabs
*********************************/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
	border: none; /* 1px solid #6B6D6F; */
}

.ui-corner-all {
	border: none !important; /* #6B6D6F 1px solid !important; */
}

hr {
    border: 0;
    border-top: 1px solid;
}

/*********************************
* Toolbar
*********************************/

/* Logs */
#engine-logs-level tr {
    height: 30px;
}

#engine-logs-level table {
    border-spacing: 0px;
	overflow-y: scroll;
	display: block;
    height: 600px;
}

.action-enabled {
    border-radius: 1px;
}

.img-action:hover {
    border-radius: 2px;
}

/*********************************
* Engine Log
*********************************/
.engineLogView table {
	border-spacing: 2px 0px;
}

/* Enable selection in Engine Log */
.engineLogView div, .engineLogView td {
    user-select: initial;
}

.log-message-sublines {
    font-size: 9pt;
    font-family: monospace;
    border: thin dashed;
    margin: 2px;
    padding: 2px;
}

.log-column-line-number {
    text-align: right;
    white-space: nowrap;
}

.log-column-category {
    min-width: 80px;
    word-wrap: break-word;
    word-break: break-all;
}

.log-column-thread {
    min-width: 160px;
    word-wrap: break-word;
    word-break: break-all;
}

.log-column-message {
    word-wrap: break-word;
    word-break: break-all;
}

.log-column-extra {
    min-width: 250px;
    word-wrap: break-word;
    word-break: break-all;
}

.engineLogView table {
    font-size: 10pt;
    width: 100%;
}

.engineLogView table th {
    text-align: center;
    font-weight: bold;
    padding: 3px;
}

.engineLogView table td {
    padding: 3px;
}

body .lm_content {
	overflow: auto;
}