<html>
<head>
    <style>body {background-color:black;color: white;}</style>
</head>
<body>
<img src="all.gif"></img>all<br/>
<img src="annotation.gif"></img>annotation<br/>
<img src="attribute.gif"></img>attribute<br/>
<img src="attribute_ref.gif"></img>attribute_ref<br/>
<img src="attributegroup.gif"></img>attributegroup<br/>
<img src="attributegroup_ref.gif"></img>attributegroup_ref<br/>
<img src="attributegroups_folder.gif"></img>attributegroups_folder<br/>
<img src="attributes_folder.gif"></img>attributes_folder<br/>
<img src="choice.gif"></img>choice<br/>
<img src="complex_content.gif"></img>complex_content<br/>
<img src="complex_type.gif"></img>complex_type<br/>
<img src="directives_folder.gif"></img>directives_folder<br/>
<img src="element.gif"></img>element<br/>
<img src="element_ref.gif"></img>element_ref<br/>
<img src="elements_folder.gif"></img>elements_folder<br/>
<img src="enumeration_facet.gif"></img>enumeration_facet<br/>
<img src="extension.gif"></img>extension<br/>
<img src="fraction_digits_facet.gif"></img>fraction_digits_facet<br/>
<img src="group.gif"></img>group<br/>
<img src="group_ref.gif"></img>group_ref<br/>
<img src="groups_folder.gif"></img>groups_folder<br/>
<img src="identity_constraint_unique.gif"></img>identity_constraint_unique<br/>
<img src="import.gif"></img>import<br/>
<img src="include.gif"></img>include<br/>
<img src="key.gif"></img>key<br/>
<img src="key_ref.gif"></img>key_ref<br/>
<img src="length_facet.gif"></img>length_facet<br/>
<img src="max_exclusive_facet.gif"></img>max_exclusive_facet<br/>
<img src="max_inclusive_facet.gif"></img>max_inclusive_facet<br/>
<img src="max_length_facet.gif"></img>max_length_facet<br/>
<img src="min_exclusive_facet.gif"></img>min_exclusive_facet<br/>
<img src="min_inclusive_facet.gif"></img>min_inclusive_facet<br/>
<img src="min_length_facet.gif"></img>min_length_facet<br/>
<img src="notation.gif"></img>notation<br/>
<img src="occurrence_n.gif"></img>occurrence_n<br/>
<img src="occurrence_n_m.gif"></img>occurrence_n_m<br/>
<img src="occurrence_n_unbounded.gif"></img>occurrence_n_unbounded<br/>
<img src="occurrence_one.gif"></img>occurrence_one<br/>
<img src="occurrence_one_n.gif"></img>occurrence_one_n<br/>
<img src="occurrence_one_unbounded.gif"></img>occurrence_one_unbounded<br/>
<img src="occurrence_zero.gif"></img>occurrence_zero<br/>
<img src="occurrence_zero_n.gif"></img>occurrence_zero_n<br/>
<img src="occurrence_zero_one.gif"></img>occurrence_zero_one<br/>
<img src="occurrence_zero_unbounded.gif"></img>occurrence_zero_unbounded<br/>
<img src="particle.gif"></img>particle<br/>
<img src="pattern_facet.gif"></img>pattern_facet<br/>
<img src="redefine.gif"></img>redefine<br/>
<img src="restriction.gif"></img>restriction<br/>
<img src="schema.gif"></img>schema<br/>
<img src="sequence.gif"></img>sequence<br/>
<img src="simple_content.gif"></img>simple_content<br/>
<img src="simple_type.gif"></img>simple_type<br/>
<img src="simple_type_atomic.gif"></img>simple_type_atomic<br/>
<img src="simple_type_list.gif"></img>simple_type_list<br/>
<img src="simple_type_union.gif"></img>simple_type_union<br/>
<img src="total_digits_facet.gif"></img>total_digits_facet<br/>
<img src="type.gif"></img>type<br/>
<img src="types_folder.gif"></img>types_folder<br/>
<img src="unresolved.gif"></img>unresolved<br/>
<img src="white_space_facet.gif"></img>white_space_facet<br/>
<img src="wildcard_attribute.gif"></img>wildcard_attribute<br/>
<img src="wildcard_element.gif"></img>wildcard_element<br/>
<img src="xpath_field.gif"></img>xpath_field<br/>
<img src="xpath_selector.gif"></img>xpath_selector<br/>

</body>
</html>