*.war
.classpath
.project
.DS_Store
META-INF

**/.settings/*
!**/.settings/org.eclipse.core.resources.prefs
!**/.settings/org.eclipse.jst.jsp.core.prefs
!**/.settings/org.eclipse.wst.validation.prefs

/*/bin
/*/build
/*/lib
/*/target
/*/.tycho-consumer-pom.xml

**/.gradle
/build
/convertigo-splash/splash.bmp
/convertigo-templates/*/*.gradle
!/convertigo-templates/common/*.gradle
/convertigo-templates/*/.gitignore
!/convertigo-templates/common/.gitignore
/convertigo-templates/*/.gitattributes
!/convertigo-templates/common/.gitattributes
/convertigo-templates/*/build
/convertigo-templates/*/gradle*
/convertigo-templates/*.zip
/eclipse-feature/feature.xml
/eclipse-feature/feature.xml.tmp
/eclipse-plugin-product/about.ini
/eclipse-plugin-product/plugin.xml
/eclipse-plugin-product/splash.bmp
/eclipse-plugin-product/content/convertigoBox.png
/eclipse-plugin-studio/src/com/twinsoft/convertigo/eclipse/wizards/setup/license.txt
/eclipse-plugin-studio/tomcat/webapps/convertigo/licenses/license.txt
/eclipse-plugin-studio/tomcat/webapps/convertigo/templates/project/*
/eclipse-plugin-studio/tomcat/webapps/convertigo/swagger/dist
/eclipse-plugin-studio/tomcat/webapps/convertigo/system/
/eclipse-plugin-studio/tomcat/work
/eclipse-repository/category.xml
/eclipse-repository/Convertigo.product
/eclipse-repository/Convertigo.product.tmp
/engine/src/com/twinsoft/convertigo/engine/admin/services/mobiles/res
/resources
/workspace
