*.war
.classpath
.project
META-INF

**/.settings/*
!**/.settings/org.eclipse.core.resources.prefs
!**/.settings/org.eclipse.jst.jsp.core.prefs
!**/.settings/org.eclipse.wst.validation.prefs

/*/bin
/*/build
/*/lib
/*/target

/.gradle/
/eclipse-plugin-xulrunner-win32/xulrunner
/resources
/workspace
/eclipse-plugin-studio/src/com/twinsoft/convertigo/eclipse/wizards/setup/license.txt
/eclipse-plugin-studio/tomcat/webapps/convertigo/licenses/license.txt