@charset "utf-8";

img{
	padding-top:30px;	
}

h1 > div,table{	
	margin-left:auto;
	margin-right:auto;
	padding-top:5px;
	padding-bottom:5px;
	width:100%;	
}

h1{
	text-align:center;		
}

hr{	
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:0px;
	border-left:0px;
	border-right:0px;	
	margin-left:auto;
	margin-right:auto;
	width:100%;	
}

hr.dashes {
	padding-top:0px;
	padding-bottom:0px;
	border-top: 1px dashed #000000;
	margin-top: 5px;
}

a {
	text-indent:10px;
}

.retunToIndex{
	text-align: right;
	font-size: 8px;
	font-family:Helvetica;	
}

.page{
	margin-left:auto;
	margin-right:auto;	
	width:68%;	
}

#indexTitle{
	text-align: center;
}

.page:first-child{
	text-align:center;
}

.section{
	margin-top:10px;
	margin-bottom:5px;
}

.tabLine td{
	padding-left:10px;
}
