/*
Convertigo Store: Main CSS
url: http://www.convertigo.com
Author: Raphael Vareilles
*/


/* ------------------------------------ CUSTOM PAGE ------------------------------------ */

a {
    line-height: 2.15;
}

/*header*/

#customHeader {
	height: 100px;
	text-align: left;
	line-height: 100px;
}

myGrid>* {
    width: 25%
}

.blocLogo	{ 
  margin-left: 15px;
  vertical-align: middle;
  display: inline-block;
  line-height: normal;
}

#loginform {
    position:absolute;
    right:15px;
    top: 15px;
}

form.login {
    border: 1px solid red;
}

form.login input {
    height: 14px;
    width: 140px;
    background: #F5F5F5;
    border-radius: 2px;
}

.formBtn {
    padding:  3px 10px 3px 10px;
}

@media (min-width:768px) {
    .formBtn {margin:0px 0 0 0;}
}

.imgContainer {
	height: 185px;
    text-align: center;
}

.blockTitle {
    width:100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 70px;
    height: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.blockDescr {  
    height: 37px;
    text-overflow: ellipsis;
    max-height: 38px;
    display: -webkit-inline-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.blockPlatform {
    text-align: left;
    width: 100%;
    height: 147px;
    padding: 10px;
}

.appLink {
    display: inline-block;
    margin-left: 10px;
    margin-top: 2px;
}

.iconApp {
    vertical-align: middle;  
}


.vAlign {
  height: 185px;
  line-height: 185px;
  text-align:center; 
}

.big {
   height: 100%;
   text-decoration: none; 
   vertical-align: top;
}

.valignIcon {	
}

.alignIcon {
	display: inline-block;
    padding: 2px;
}

.line {
	line-height: 1.5;
}


.nameApp {
	width: 50%;
 	display: inline-block;
 	position: relative;
 	-webkit-overflow-scrolling: touch !important;
	overflow: hidden;
	word-wrap: normal !important;
	white-space: nowrap !important;
}

.actionBtn {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    float: right;
}

.sec {
    text-align: left;
    padding:10px;
}


#imgLogo {
	width: 100px;   
}

.col {
    padding:15px;   
}


/* MEDIA QUERIES */

@media (max-width: 430px)  {
  #imgLogo {
 	margin-left: -5px;
    width: 118px;
    margin-top: 8px;
  }
  
  #customHeader {
     height: 104px; 
     line-height: 60px;
  }
  
  #loginform {
    margin-top: 36px;
	margin-left: 33px;
  }
  
  #user {
      margin-top: 35px !important;
	  margin-right: 20px !important;
  }
  
  input[name="username"], input[name="password"] {
  	width: 25% !important;
  }
  
  #login {
  	width: 45% !important;
  }
}

@media (min-width : 0px) and (max-width: 2015px)  {
   .appLink {
        margin-left: 5px;
    }
}


@media (min-width : 510px) and (max-width: 915px) {
 .mtm {
    width:50% !important;
    float:left;
 }
}

.styled-select 
{
   width: 24px;
   height: 24px;
   overflow: hidden;
   background: url('wheel.png') no-repeat right;
   border: 0px;
/*   color: transparent;*/

}

.hidden {
	display: none !important;
}

#user {
	float: right;
	margin-top: 17px;
	margin-right: 15px;
	padding: 5px;
}

#infos {
	float: left;
	margin-top: 8px;
	margin-left: 7px;
	margin-right: 15px;
	padding: 5px;
}

#infos img {
	margin-top: -27px;
	margin-right: 14px;
}




/*
	FOOTER
*/
#footer {
	width: 100%;
    height: 125px;
    text-align: center;
    position: absolute;
    bottom: 0;
}

#main {
	margin-top: 39px;
	min-height: 100%;
	height: auto;
}

html {
	position: relative;
	min-height: 100%;
}

.platformContainer {
	text-align: center;
	display: inline-block;
	height:125px;
	line-height:125px;
	margin-left: 10px;
	margin-right: 10px;
}

.imgDlPlayer {
	width: 100px;
}

#banner {
	height: 192px;
	padding: 15px;
	margin-top: 25px;
}

#bannerContent {
	width: 100%;
	height: auto;
	padding: 10px;
	position: relative;
	margin-bottom: 50px;
}

#bannerText {
	height: auto;
	padding: 20px;
	text-align: left;
}

#closeBtn {
	position: absolute;
	right: -10px;
	top: -11px;
	line-height: 1.65;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 1px;
	padding-bottom: 0;
	width: 25px;
}

.infos {
	margin-left: -20px;
}

#cplayer {
	margin-top: 9px;
	margin-bottom: 23px;
}

#noApps {
	width: 100%;
	margin-bottom: 45px;
	line-height: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.vspace {
	margin-bottom: 50px;
}

.fixNoApps {
	width: 100%;
	min-height: 100%;
	text-align: center;
}
