<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="eclipse">
<locations>
	<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
		<unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.jst.enterprise_ui.feature.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.jst.web_ui.feature.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.wst.common_core.feature.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.wst.jsdt.feature.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.wst.json_core.feature.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.wst.json_ui.feature.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.wst.web_core.feature.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.wst.xml_core.feature.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.wst.xsl.feature.feature.group" version="0.0.0"/>
		<repository location="http://download.eclipse.org/releases/oxygen/"/>
	</location>
	<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
		<unit id="ts-feature.feature.group" version="0.0.0"/>
		<unit id="ts-jsdt-feature.feature.group" version="0.0.0"/>
		<unit id="ts-json-feature.feature.group" version="0.0.0"/>
		<unit id="ts-validation-feature.feature.group" version="0.0.0"/>
		<unit id="ts-nodejs.embed-feature.feature.group" version="0.0.0"/>
		<unit id="ts-json-feature.feature.group" version="0.0.0"/>
		<repository location="http://oss.opensagres.fr/typescript.ide/snapshots/"/>
	</location>
	<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
		<unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.egit.gitflow.feature.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.jgit.lfs.feature.group" version="0.0.0"/>
		<repository location="https://download.eclipse.org/egit/updates-5.5.1/"/>
	</location>
</locations>
</target>