[data-theme='convertigo'] {
	--text-scaling: 1.067;
	--base-font-color: #002f53;
	--base-font-color-dark: #f4f6f8;
	--base-font-family: 'IBM Plex Sans Variable', sans-serif;
	--base-font-size: 14px;
	--base-line-height: 1.4;
	--base-font-weight: 400;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: 500;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-400);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.24rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--convertigo-primary: #0098d2;
	--convertigo-running: #bcd9c4;
	--convertigo-performance: #f28c6a;
	--convertigo-switch-on: var(--color-primary-500);
	--convertigo-switch-on-dark: var(--color-surface-700);
	--convertigo-switch-off: var(--convertigo-bg);
	--convertigo-switch-off-dark: var(--color-surface-950);
	--convertigo-switch-on-color: light-dark(
		var(--convertigo-switch-on),
		var(--convertigo-switch-on-dark)
	);
	--convertigo-switch-off-color: light-dark(
		var(--convertigo-switch-off),
		var(--convertigo-switch-off-dark)
	);
	--convertigo-text: #002f53;
	--convertigo-text-muted: #707578;
	--convertigo-text-dark: #f4f6f8;
	--convertigo-text-muted-dark: #a3a6a9;
	--convertigo-text-strong: light-dark(var(--convertigo-text), var(--convertigo-text-dark));
	--convertigo-text-muted-strong: light-dark(
		var(--convertigo-text-muted),
		var(--convertigo-text-muted-dark)
	);
	--convertigo-bg: #e7f0fe;
	--convertigo-field: #e7f0fe;
	--convertigo-secondary-bg: #d6e7ef;
	--body-background-color: #e7f0fe;
	--body-background-color-dark: #0b0c0f;
	--color-primary-50: #e6f5fa;
	--color-primary-100: #cceaf6;
	--color-primary-200: #a6dbef;
	--color-primary-300: #80cce8;
	--color-primary-400: #4cb7e0;
	--color-primary-500: #0098d2;
	--color-primary-600: #0086b9;
	--color-primary-700: #0074a0;
	--color-primary-800: #006186;
	--color-primary-900: #004f6d;
	--color-primary-950: #003d54;
	--color-primary-contrast-dark: #002f53;
	--color-primary-contrast-light: #f4f6f8;
	--color-primary-contrast-50: #002f53;
	--color-primary-contrast-100: #002f53;
	--color-primary-contrast-200: #002f53;
	--color-primary-contrast-300: #002f53;
	--color-primary-contrast-400: #002f53;
	--color-primary-contrast-500: #f4f6f8;
	--color-primary-contrast-600: #f4f6f8;
	--color-primary-contrast-700: #f4f6f8;
	--color-primary-contrast-800: #f4f6f8;
	--color-primary-contrast-900: #f4f6f8;
	--color-primary-contrast-950: #f4f6f8;
	--color-secondary-50: #f7fafc;
	--color-secondary-100: #f0f6f9;
	--color-secondary-200: #eaf2f7;
	--color-secondary-300: #e3eff4;
	--color-secondary-400: #ddebf2;
	--color-secondary-500: #d6e7ef;
	--color-secondary-600: #b1bfc6;
	--color-secondary-700: #8c979e;
	--color-secondary-800: #677075;
	--color-secondary-900: #42484d;
	--color-secondary-950: #1d2024;
	--color-secondary-contrast-dark: #002f53;
	--color-secondary-contrast-light: #f4f6f8;
	--color-secondary-contrast-50: #002f53;
	--color-secondary-contrast-100: #002f53;
	--color-secondary-contrast-200: #002f53;
	--color-secondary-contrast-300: #002f53;
	--color-secondary-contrast-400: #002f53;
	--color-secondary-contrast-500: #002f53;
	--color-secondary-contrast-600: #002f53;
	--color-secondary-contrast-700: #f4f6f8;
	--color-secondary-contrast-800: #f4f6f8;
	--color-secondary-contrast-900: #f4f6f8;
	--color-secondary-contrast-950: #f4f6f8;
	--color-tertiary-50: #f4f6f8;
	--color-tertiary-100: #e4e6e8;
	--color-tertiary-200: #d4d6d8;
	--color-tertiary-300: #c3c6c9;
	--color-tertiary-400: #b3b6b9;
	--color-tertiary-500: #a3a6a9;
	--color-tertiary-600: #707578;
	--color-tertiary-700: #54646f;
	--color-tertiary-800: #385266;
	--color-tertiary-900: #1c405c;
	--color-tertiary-950: #002f53;
	--color-tertiary-contrast-dark: #002f53;
	--color-tertiary-contrast-light: #f4f6f8;
	--color-tertiary-contrast-50: #002f53;
	--color-tertiary-contrast-100: #002f53;
	--color-tertiary-contrast-200: #002f53;
	--color-tertiary-contrast-300: #002f53;
	--color-tertiary-contrast-400: #002f53;
	--color-tertiary-contrast-500: #002f53;
	--color-tertiary-contrast-600: #002f53;
	--color-tertiary-contrast-700: #f4f6f8;
	--color-tertiary-contrast-800: #f4f6f8;
	--color-tertiary-contrast-900: #f4f6f8;
	--color-tertiary-contrast-950: #f4f6f8;
	--color-success-50: #f5f9f6;
	--color-success-100: #eaf3ec;
	--color-success-200: #deece2;
	--color-success-300: #d3e6d8;
	--color-success-400: #c7dfce;
	--color-success-500: #bcd9c4;
	--color-success-600: #9cb4a4;
	--color-success-700: #7c8f84;
	--color-success-800: #5d6a64;
	--color-success-900: #3d4544;
	--color-success-950: #1d2024;
	--color-success-contrast-dark: #002f53;
	--color-success-contrast-light: #f4f6f8;
	--color-success-contrast-50: #002f53;
	--color-success-contrast-100: #002f53;
	--color-success-contrast-200: #002f53;
	--color-success-contrast-300: #002f53;
	--color-success-contrast-400: #002f53;
	--color-success-contrast-500: #002f53;
	--color-success-contrast-600: #002f53;
	--color-success-contrast-700: #f4f6f8;
	--color-success-contrast-800: #f4f6f8;
	--color-success-contrast-900: #f4f6f8;
	--color-success-contrast-950: #f4f6f8;
	--color-warning-50: #fdeee9;
	--color-warning-100: #fbdad0;
	--color-warning-200: #f9c7b6;
	--color-warning-300: #f6b39d;
	--color-warning-400: #f4a083;
	--color-warning-500: #f28c6a;
	--color-warning-600: #c7765c;
	--color-warning-700: #9d614e;
	--color-warning-800: #724b40;
	--color-warning-900: #483632;
	--color-warning-950: #1d2024;
	--color-warning-contrast-dark: #002f53;
	--color-warning-contrast-light: #f4f6f8;
	--color-warning-contrast-50: #002f53;
	--color-warning-contrast-100: #002f53;
	--color-warning-contrast-200: #002f53;
	--color-warning-contrast-300: #002f53;
	--color-warning-contrast-400: #002f53;
	--color-warning-contrast-500: #002f53;
	--color-warning-contrast-600: #002f53;
	--color-warning-contrast-700: #f4f6f8;
	--color-warning-contrast-800: #f4f6f8;
	--color-warning-contrast-900: #f4f6f8;
	--color-warning-contrast-950: #f4f6f8;
	--color-error-50: oklch(96% 0.03 20deg);
	--color-error-100: oklch(93% 0.05 20deg);
	--color-error-200: oklch(89% 0.07 20deg);
	--color-error-300: oklch(83% 0.09 20deg);
	--color-error-400: oklch(75% 0.11 20deg);
	--color-error-500: oklch(62% 0.12 20deg);
	--color-error-600: oklch(54% 0.12 20deg);
	--color-error-700: oklch(46% 0.11 20deg);
	--color-error-800: oklch(38% 0.1 20deg);
	--color-error-900: oklch(31% 0.09 20deg);
	--color-error-950: oklch(24% 0.08 20deg);
	--color-error-contrast-dark: oklch(24% 0.08 20deg);
	--color-error-contrast-light: oklch(96% 0.03 20deg);
	--color-error-contrast-50: oklch(24% 0.08 20deg);
	--color-error-contrast-100: oklch(24% 0.08 20deg);
	--color-error-contrast-200: oklch(24% 0.08 20deg);
	--color-error-contrast-300: oklch(24% 0.08 20deg);
	--color-error-contrast-400: oklch(24% 0.08 20deg);
	--color-error-contrast-500: oklch(96% 0.03 20deg);
	--color-error-contrast-600: oklch(96% 0.03 20deg);
	--color-error-contrast-700: oklch(96% 0.03 20deg);
	--color-error-contrast-800: oklch(96% 0.03 20deg);
	--color-error-contrast-900: oklch(96% 0.03 20deg);
	--color-error-contrast-950: oklch(96% 0.03 20deg);
	--color-surface-50: #e7f0fe;
	--color-surface-100: #fafcfe;
	--color-surface-200: #e7f0fe;
	--color-surface-300: #d6e7ef;
	--color-surface-400: #a3a6a9;
	--color-surface-500: #8c9093;
	--color-surface-600: #707578;
	--color-surface-700: #999a9c;
	--color-surface-800: #2a2f35;
	--color-surface-900: #1d2024;
	--color-surface-950: #0b0c0f;
	--color-surface-contrast-dark: #0b0c0f;
	--color-surface-contrast-light: #e7f0fe;
	--color-surface-contrast-50: #0b0c0f;
	--color-surface-contrast-100: #0b0c0f;
	--color-surface-contrast-200: #0b0c0f;
	--color-surface-contrast-300: #0b0c0f;
	--color-surface-contrast-400: #0b0c0f;
	--color-surface-contrast-500: #0b0c0f;
	--color-surface-contrast-600: #e7f0fe;
	--color-surface-contrast-700: #e7f0fe;
	--color-surface-contrast-800: #e7f0fe;
	--color-surface-contrast-900: #e7f0fe;
	--color-surface-contrast-950: #e7f0fe;
}
