[data-theme='convertigo'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: system-ui;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-400);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.22rem;
	--radius-base: 0.5rem;
	--radius-container: 1.5rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: oklch(93.5% 0 none);
	--body-background-color-dark: oklch(3.5% 0 none);
	--color-primary-50: oklch(89.08% 0.08 215.87deg);
	--color-primary-100: oklch(85.89% 0.1 218.13deg);
	--color-primary-200: oklch(83.15% 0.12 218.94deg);
	--color-primary-300: oklch(80.48% 0.13 221.55deg);
	--color-primary-400: oklch(78.34% 0.14 223.68deg);
	--color-primary-500: oklch(76.27% 0.15 227.64deg);
	--color-primary-600: oklch(68.73% 0.14 229.15deg);
	--color-primary-700: oklch(60.77% 0.12 232.33deg);
	--color-primary-800: oklch(52.76% 0.11 234.97deg);
	--color-primary-900: oklch(44.24% 0.1 239.99deg);
	--color-primary-950: oklch(35.53% 0.09 244.99deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-dark);
	--color-primary-contrast-700: var(--color-primary-contrast-dark);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(80.56% 0.13 318.6deg);
	--color-secondary-100: oklch(75.1% 0.17 318.53deg);
	--color-secondary-200: oklch(69.99% 0.2 318.38deg);
	--color-secondary-300: oklch(65.66% 0.23 318.08deg);
	--color-secondary-400: oklch(61.67% 0.26 317.55deg);
	--color-secondary-500: oklch(58.47% 0.27 316.68deg);
	--color-secondary-600: oklch(53.26% 0.24 316.68deg);
	--color-secondary-700: oklch(47.71% 0.22 316.61deg);
	--color-secondary-800: oklch(42.17% 0.19 316.62deg);
	--color-secondary-900: oklch(36.29% 0.16 316.47deg);
	--color-secondary-950: oklch(30.44% 0.13 316.33deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(90.21% 0.08 332.36deg);
	--color-tertiary-100: oklch(85.57% 0.12 333.22deg);
	--color-tertiary-200: oklch(81.3% 0.16 333.64deg);
	--color-tertiary-300: oklch(77.57% 0.2 334.57deg);
	--color-tertiary-400: oklch(74.27% 0.23 335.16deg);
	--color-tertiary-500: oklch(71.57% 0.26 336.11deg);
	--color-tertiary-600: oklch(66.44% 0.25 336.44deg);
	--color-tertiary-700: oklch(61.48% 0.24 336.79deg);
	--color-tertiary-800: oklch(56.26% 0.23 337.25deg);
	--color-tertiary-900: oklch(51.33% 0.22 337.8deg);
	--color-tertiary-950: oklch(46.21% 0.2 338.57deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(91.95% 0.14 138.71deg);
	--color-success-100: oklch(90.57% 0.17 138.67deg);
	--color-success-200: oklch(89.31% 0.19 138.86deg);
	--color-success-300: oklch(88.35% 0.21 139.16deg);
	--color-success-400: oklch(87.33% 0.23 139.42deg);
	--color-success-500: oklch(86.41% 0.25 139.69deg);
	--color-success-600: oklch(78.27% 0.23 139.75deg);
	--color-success-700: oklch(69.92% 0.21 139.83deg);
	--color-success-800: oklch(61.62% 0.19 139.86deg);
	--color-success-900: oklch(52.72% 0.16 140.05deg);
	--color-success-950: oklch(43.45% 0.14 140.2deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-dark);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(85.96% 0.09 55.12deg);
	--color-warning-100: oklch(83.41% 0.11 54.59deg);
	--color-warning-200: oklch(80.94% 0.12 54.33deg);
	--color-warning-300: oklch(78.43% 0.14 52.72deg);
	--color-warning-400: oklch(76.21% 0.16 51.8deg);
	--color-warning-500: oklch(74.14% 0.17 50.14deg);
	--color-warning-600: oklch(67.04% 0.16 50.1deg);
	--color-warning-700: oklch(59.74% 0.15 49.17deg);
	--color-warning-800: oklch(52.21% 0.13 49.1deg);
	--color-warning-900: oklch(44.42% 0.12 47.52deg);
	--color-warning-950: oklch(36.29% 0.1 47.36deg);
	--color-warning-contrast-dark: var(--color-warning-50);
	--color-warning-contrast-light: var(--color-warning-950);
	--color-warning-contrast-50: var(--color-warning-contrast-light);
	--color-warning-contrast-100: var(--color-warning-contrast-light);
	--color-warning-contrast-200: var(--color-warning-contrast-light);
	--color-warning-contrast-300: var(--color-warning-contrast-light);
	--color-warning-contrast-400: var(--color-warning-contrast-light);
	--color-warning-contrast-500: var(--color-warning-contrast-light);
	--color-warning-contrast-600: var(--color-warning-contrast-light);
	--color-warning-contrast-700: var(--color-warning-contrast-dark);
	--color-warning-contrast-800: var(--color-warning-contrast-dark);
	--color-warning-contrast-900: var(--color-warning-contrast-dark);
	--color-warning-contrast-950: var(--color-warning-contrast-dark);
	--color-error-50: oklch(79.91% 0.11 359.56deg);
	--color-error-100: oklch(72.57% 0.13 1.98deg);
	--color-error-200: oklch(65.53% 0.15 4.84deg);
	--color-error-300: oklch(58.62% 0.16 8.28deg);
	--color-error-400: oklch(52.39% 0.17 12.27deg);
	--color-error-500: oklch(46.98% 0.18 17.5deg);
	--color-error-600: oklch(44.12% 0.17 16.63deg);
	--color-error-700: oklch(40.99% 0.16 15.92deg);
	--color-error-800: oklch(38.03% 0.14 14.65deg);
	--color-error-900: oklch(34.78% 0.13 13.46deg);
	--color-error-950: oklch(31.67% 0.12 11.38deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-light);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(95% 0 none);
	--color-surface-100: oklch(92% 0 none);
	--color-surface-200: oklch(89% 0 none);
	--color-surface-300: oklch(86% 0 none);
	--color-surface-400: oklch(83% 0 none);
	--color-surface-500: oklch(60% 0 none);
	--color-surface-600: oklch(39% 0 none);
	--color-surface-700: oklch(34% 0 none);
	--color-surface-800: oklch(31% 0 none);
	--color-surface-900: oklch(28% 0 none);
	--color-surface-950: oklch(25% 0 none);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-dark);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
