[data-theme='convertigo'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: system-ui;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-400);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.25rem;
	--radius-container: 0.25rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(100% 0 none);
	--color-primary-100: oklch(89.06% 0.03 251.13deg);
	--color-primary-200: oklch(78% 0.06 250.81deg);
	--color-primary-300: oklch(66.99% 0.1 251.66deg);
	--color-primary-400: oklch(56.24% 0.13 252.94deg);
	--color-primary-500: oklch(46.45% 0.16 256.84deg);
	--color-primary-600: oklch(43.62% 0.15 256.52deg);
	--color-primary-700: oklch(40.62% 0.14 256.85deg);
	--color-primary-800: oklch(37.71% 0.13 256.53deg);
	--color-primary-900: oklch(34.61% 0.12 257.16deg);
	--color-primary-950: oklch(31.6% 0.1 257deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-light);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(86.66% 0.05 300.15deg);
	--color-secondary-100: oklch(78.51% 0.09 303.57deg);
	--color-secondary-200: oklch(70.44% 0.13 304.44deg);
	--color-secondary-300: oklch(62.83% 0.17 303.81deg);
	--color-secondary-400: oklch(55.48% 0.2 302.75deg);
	--color-secondary-500: oklch(49.07% 0.23 300.46deg);
	--color-secondary-600: oklch(46.19% 0.21 299.84deg);
	--color-secondary-700: oklch(43.16% 0.2 298.46deg);
	--color-secondary-800: oklch(40.22% 0.18 297.5deg);
	--color-secondary-900: oklch(37.1% 0.17 295.57deg);
	--color-secondary-950: oklch(34.08% 0.15 293.97deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-light);
	--color-secondary-contrast-500: var(--color-secondary-contrast-light);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(96.95% 0.07 100.37deg);
	--color-tertiary-100: oklch(91.75% 0.08 100.56deg);
	--color-tertiary-200: oklch(86.61% 0.1 100.07deg);
	--color-tertiary-300: oklch(81.56% 0.12 100.94deg);
	--color-tertiary-400: oklch(76.4% 0.13 100.28deg);
	--color-tertiary-500: oklch(71.15% 0.13 99.82deg);
	--color-tertiary-600: oklch(64.33% 0.12 99.68deg);
	--color-tertiary-700: oklch(57.23% 0.11 100.18deg);
	--color-tertiary-800: oklch(49.78% 0.09 99.06deg);
	--color-tertiary-900: oklch(42.17% 0.08 99.66deg);
	--color-tertiary-950: oklch(34.31% 0.06 99.32deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(90.76% 0.18 144.27deg);
	--color-success-100: oklch(86.8% 0.21 143.96deg);
	--color-success-200: oklch(83.08% 0.23 143.38deg);
	--color-success-300: oklch(79.35% 0.24 143.06deg);
	--color-success-400: oklch(76.16% 0.25 142.7deg);
	--color-success-500: oklch(73.24% 0.25 142.55deg);
	--color-success-600: oklch(65.89% 0.22 142.57deg);
	--color-success-700: oklch(58.33% 0.2 142.57deg);
	--color-success-800: oklch(50.81% 0.17 142.61deg);
	--color-success-900: oklch(42.69% 0.14 142.59deg);
	--color-success-950: oklch(34.16% 0.12 142.68deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(95.67% 0.05 84.56deg);
	--color-warning-100: oklch(92.83% 0.06 82.16deg);
	--color-warning-200: oklch(90.12% 0.08 80.33deg);
	--color-warning-300: oklch(87.59% 0.1 80.01deg);
	--color-warning-400: oklch(85.03% 0.12 78.35deg);
	--color-warning-500: oklch(82.46% 0.14 76.71deg);
	--color-warning-600: oklch(77.63% 0.13 73.81deg);
	--color-warning-700: oklch(72.76% 0.13 70.67deg);
	--color-warning-800: oklch(67.8% 0.13 65.88deg);
	--color-warning-900: oklch(62.87% 0.13 62.13deg);
	--color-warning-950: oklch(57.91% 0.13 57.97deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(89.99% 0.04 14.04deg);
	--color-error-100: oklch(83.49% 0.07 19.81deg);
	--color-error-200: oklch(77.4% 0.11 21.98deg);
	--color-error-300: oklch(72.13% 0.15 24.9deg);
	--color-error-400: oklch(67.39% 0.19 26.71deg);
	--color-error-500: oklch(63.72% 0.22 28.71deg);
	--color-error-600: oklch(60.23% 0.21 28.63deg);
	--color-error-700: oklch(56.75% 0.21 28.58deg);
	--color-error-800: oklch(53.08% 0.2 28.77deg);
	--color-error-900: oklch(49.63% 0.19 28.8deg);
	--color-error-950: oklch(46.22% 0.18 28.88deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(100% 0 none);
	--color-surface-100: oklch(95.51% 0 none);
	--color-surface-200: oklch(90.97% 0 none);
	--color-surface-300: oklch(86.07% 0 none);
	--color-surface-400: oklch(81.41% 0 none);
	--color-surface-500: oklch(76.68% 0 none);
	--color-surface-600: oklch(68.3% 0 none);
	--color-surface-700: oklch(59.65% 0 none);
	--color-surface-800: oklch(51.03% 0 none);
	--color-surface-900: oklch(41.65% 0 none);
	--color-surface-950: oklch(31.71% 0 none);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-dark);
	--color-surface-contrast-600: var(--color-surface-contrast-dark);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
