/*********************************
* CSS (colors) for Light theme.
*********************************/

/*********************************
* Jstree projects tree view
*********************************/

.projectsTreeView tbody>tr:first-child>td:first-child {
    color: red;
}

.projectsTreeView tbody>tr>td {
    color: green;
}

.projectsTreeView tbody>tr>td>input {
    background-color: rgb(51, 55, 59);
    color: white;
}

.comment {
    color: #0085ff !important;
}

.jstree-default {
    background-color: none;
}

/* Header separator of the jstree grid plugin */
.jstree-grid-separator-regular {
/*  border-style: none !important; */
}

li.nodeDisable > a {
    color: rgb(255, 0, 0) !important;
}

.nodeDisable a {
    color: rgb(236, 167, 3) !important;
}

.nodeIsInherited a {
    color: #afacac !important;
}

.jstree-default .jstree-anchor>.jstree-icon {
    opacity: 1;
}

/*********************************
* Jstree context menu
*********************************/

.contextmenu-entry-disable {
    opacity: 0.5;
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -o-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
}

/*********************************
* Modal
*********************************/

div.modal {
    color: #33373B;
    background-color: white;
}

/*********************************
* Palette
*********************************/
.gray-selection {
    background-color: #beebff;
}

/*********************************
* jQuery UI tabs
*********************************/

.ui-tabs, .ui-tabs>ul, .ui-tabs>div {
	background-color: #ffffff;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
   background-color: #beebff !important;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button {
   background-color: #e7f4f9;   
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
	background-color: #e0e0e0;
}

.ui-tabs h2, .ui-tabs h4, .ui-tabs p, .ui-tabs span,
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button {
	color: rgb(0, 0, 0) !important;
}

hr {
    border-top-color: #6B6D6F;
}

/*********************************
* Accordion
*********************************/
button.accordion {
	color: rgb(0, 0, 0);
}

button.accordion.active, button.accordion:hover, button.accordion {
    background-color: #f5f5f5;
}

/*********************************
* Toolbar
*********************************/
.action-enabled {
	background-color: #a4a4a4;
}

.img-action:hover {
	background-color: #BDBEC0;
	border-radius: 2px;
}

/* Active = On click */
.img-action:active {
    background-color: #909090;
}

/* Logs */
#engine-logs-level tr:nth-child(odd) {
    background-color: rgb(223, 243, 252);
}

/*********************************
* Engine log
*********************************/
.log-line-odd-FATAL {
    background-color: #996C6C;
    color: white;
}

.log-line-even-FATAL {
    background-color: #BC8484;
    color: white;
}

.log-line-odd-ERROR {
    background-color: #FF9E93;
}

.log-line-even-ERROR {
    background-color: #FFBAB2;
}

.log-line-odd-WARN {
    background-color: #F2C4D0;
}

.log-line-even-WARN {
    background-color: #FFCCD9;
}

.log-line-odd-INFO {
    background-color: #E1F2E4;
}

.log-line-even-INFO {
    background-color: #EDFFF1;
}

.log-line-odd-DEBUG {
    background-color: #F9F9B1;
}

.log-line-even-DEBUG {
    background-color: #FFFFC4;
}

.log-line-odd-TRACE {
    background-color: #B5EAF4;
}

.log-line-even-TRACE {
    background-color: #C9F6FF;
}

.log-line-odd {
    background-color: #F3F2F1;
}

.log-extra {
    background-color: white;
}

.log-extra1 {
    color: red;
}

.log-extra2 {
    color: green;
}

.log-extra3 {
    color: black;
}

.log-extra4 {
    color: brown;
}

.log-extra5 {
    color: purple;
}

.log-extra6 {
    color: orange;
}

.log-extra7 {
    color: #727d6f;
}

.log-extra8 {
    color: #4ac8c9;
}

.log-extra9 {
    color: #fe764d;
}

/* Header */
.engineLogView table th {
    background-color: #e7f4f9;
}

/*********************************
* Sequence editor
*********************************/
.sequence-editor-toolbar {
    background-color: gray;
}

pre {
	background-color: white !important;
}
