/*********************************
* CSS colors for Dark theme.
*********************************/

/*********************************
* General
*********************************/
hr {
    border-top-color: #6B6D6F;
}

/*********************************
* Jstree projects tree view
*********************************/
.projectsTreeView tbody>tr:first-child>td:first-child {
    color: red;
}

.projectsTreeView tbody>tr>td {
    color: green;
}

.projectsTreeView tbody>tr>td>input {
    background-color: rgb(51, 55, 59);
    color: white;
}

.comment {
    color: rgb(4, 234, 34) !important;
}

.jstree-default-dark {
    background: none !important;
}

.jstree-default-dark .jstree-anchor {
	color: white;
}

/* Header separator of the jstree grid plugin */
.jstree-grid-separator-regular {
/*  border-style: none !important; */
}

li.nodeDisable > a {
    color: rgb(255, 0, 0) !important;
}

.nodeDisable a {
    color: #ffb300 !important;
}

.nodeIsInherited a {
    color: pink !important;
}

.jstree-default-dark .jstree-anchor>.jstree-icon {
    opacity: 1;
}

/*********************************
* Jstree context menu
*********************************/
.contextmenu-entry-disable {
    opacity: 0.5;
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -o-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
}

/*********************************
* Modal
*********************************/
div.modal {
    color: white;
    background-color: #33373B;
}

/*********************************
* Palette
*********************************/
.gray-selection {
    background-color: #256c9f;
}

/*********************************
* Accordion
*********************************/
button.accordion {
    color: white;
}

button.accordion.active, button.accordion:hover, button.accordion {
    background-color: rgb(46, 58, 69);
}

/*********************************
* Toolbar
*********************************/
.action-enabled {
    background-color: #555;
}

.lm_header li {
    opacity: initial !important;
}

.lm_header li:hover {
    background-color: #5a5a5a;
}

/* Active = On click */
.lm_header li:active {
    background-color: #909090;
}

/* Logs */
#engine-logs-select-level tr:nth-child(odd), #engine-logs-select-columns tr:nth-child(odd) {
    background-color: #424242;
}

/*********************************
* Engine log
*********************************/
.log-line-odd-FATAL {
    background-color: #996C6C;
    color: white;
}

.log-line-even-FATAL {
    background-color: #BC8484;
    color: white;
}

.log-line-odd-ERROR {
    background-color: #FF9E93;
}

.log-line-even-ERROR {
    background-color: #FFBAB2;
}

.log-line-odd-WARN {
    background-color: #F2C4D0;
}

.log-line-even-WARN {
    background-color: #FFCCD9;
}

.log-line-odd-INFO {
    background-color: #E1F2E4;
}

.log-line-even-INFO {
    background-color: #EDFFF1;
    color:black !important;
}

.log-line-odd-DEBUG {
    background-color: #F9F9B1;
}

.log-line-even-DEBUG {
    background-color: #FFFFC4;
}

.log-line-odd-TRACE {
    background-color: #B5EAF4;
}

.log-line-even-TRACE {
    background-color: #C9F6FF;
}

.log-line-odd {
    background-color: #F3F2F1;

}

.log-extra {
    background-color: white;
}

.log-extra1 {
    color: red;
}

.log-extra2 {
    color: green;
}

.log-extra3 {
    color: black;
}

.log-extra4 {
    color: brown;
}

.log-extra5 {
    color: purple;
}

.log-extra6 {
    color: orange;
}

.log-extra7 {
    color: #727d6f;
}

.log-extra8 {
    color: #4ac8c9;
}

.log-extra9 {
    color: #fe764d;
}

/* Text in td */
.engineLogView td {
    color: #1f1f1f;
}

/* Header */
.engineLogView table th {
    background-color: #5a5a5a;
}

/*********************************
* Sequence editor
*********************************/
.sequence-editor-toolbar {
    background-color: gray;
}

.sequence-output {
    border-left-color: white;
}

/*********************************
* Golden Layout
*********************************/
.lm_content {
	background-color: #292c2f !important;
}

/*********************************
* Jstree properties view
*********************************/
.propertiesTreeView li[aria-level="2"]:nth-child(odd), .propertiesTreeView div[id*="-odd-"] {
    background-color: #424242 !important;
}
