/** insert your custom css code here */
/** Commented default style from CEMS 6.1.10 */

#wait_div div {
/*     -moz-opacity: 0.2; */
/*     background-color: #B5D3E7; */
/*     filter: alpha(opacity=20); */
/*     height: 100%; */
/*     left: 0; */
/*     opacity: 0.2; */
/*     position: fixed; */
/*     top: 0px; */
/*     width: 100%; */
/*     z-index:99998 */
}

#wait_div img {
/*     left: 50%; */
/*     position: fixed; */
/*     top: 50%; */
/*     z-index: 99999; */
}
