body {
	background: #fff;	
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
	color:#818181;
	/margin-left:20%;
	-margin-left:20%;
}
#global {
	width:1024px;
	margin-left:auto;
	margin-right:auto;
}
a {
	color:#00a4c8;
	text-decoration:underline;
}
a:hover {
	color:#00a4c8;
	text-decoration:none;
}
a.anchor {
	text-decoration:none;
}
h1 {
	font-size: 16px;
	font-family:Verdana, Geneva, sans-serif;
	color: #00a4c8;
	font-weight: normal;
	line-height: 22px;
	/margin-bottom:0px;
	-margin-bottom:0px;
}
h2 {
	font-size: 22px;
	font-family:Verdana, Geneva, sans-serif;
	color: #00a4c8;
	font-weight: normal;
	line-height: 28px;
	margin-top:20px !important;
	/margin-top:0px;
	-margin-top:0px;	
	/margin-bottom:20px;
	-margin-bottom:20px;
}
h3 {
	font-size: 16px;
	font-family:Arial, sans-serif;
	color: #03744f;
	font-weight: bold;
	line-height: 20px;
	margin:10px 0 10px 0 !important;
	/margin:5px 0 10px 0;
	-margin:5px 0 10px 0;	
}
h4 {
	font-size: 14px;
	font-family:Arial, sans-serif;
	color: #666;
	font-weight: bold;
	margin:15px 0 !important;
	/margin:10px 0;
	-margin:10px 0;	
}
hr {
	width: 100%;
	text-align: left;
	margin: auto auto 15px 0 !important; 
	/margin: 0 0 10px 0; 
	-margin: 0 0 10px 0;
	border: none 0; 
	border-top: 1px dotted #aeaeae;
	height: 1px;
}
ul li {
	color:#666666;
	size:12px;
	line-height:18px;
	list-style-image:url(images/puce.png);
}

/********** MENU **********/
#menu {
	float:right;
	vertical-align:bottom;
	width:500px;
	margin-right:10px;
}
ul.menu {
	display: block;
	float:right;
	list-style: none;
	margin-top: 80px ;
	top: 93px;
}
ul.menu li {
	list-style:none;
	float:left;
	position:relative;
}
ul.menu ul li {
	margin: 0px 15px 0px 0px;
}
/* CEMS */
ul.menu li.item01 a {
	display: block;
	width: 90px;
	height: 20px;
	margin: 0px;
	text-decoration: none;
	background: url(images/nav.jpg) 0px 0px;
	text-indent:-3000px;
}
ul.menu li.item01 a:hover {
	background-position: 0px -20px;
	text-indent:-3000px;
}
/* Twinsoft */
ul.menu li.item02 a {
	display: block;
	width: 115px;
	height: 20px;
	margin: 0px;
	text-decoration: none;
	background: url(images/nav.jpg) -90px 0px;
	text-indent:-3000px;
}
ul.menu li.item02 a:hover {
	background-position: -90px -20px;
	text-indent:-3000px;
}
/* POBI */
ul.menu li.item03 a {
	display: block;
	width: 85px;
	height: 20px;
	margin: 0px;
	text-decoration: none;
	background: url(images/nav.jpg) -205px 0px;
	text-indent:-3000px;
}
ul.menu li.item03 a:hover {
	background-position: -205px -20px;
	text-indent:-3000px;
}
/* Dreamface */
ul.menu li.item04 a {
	display: block;
	width: 95px;
	height: 20px;
	margin: 0px;
	text-decoration: none;
	background: url(images/nav.jpg) -293px 0px;
	text-indent:-3000px;
}
ul.menu li.item04 a:hover {
	background-position: -293px -20px;
	text-indent:-3000px;
}
/********** End MENU **********/

.logo {
	width: 195px;
	height: 70px;
	float: left;
	margin-top:30px;
}
.visuel {
	float: left;
	width:900px;
	margin:10px 0 10px 1px;
	height: 115px;
}
.header {
	float:left;
	width:900px;
}
.footer {
	clear: both;
	float: left;
	width: 871px;
	height:30px;
	text-align:center;
	font-size:10px;
	padding:15px;
	/margin-top:70px;
	-margin-top:70px;
	margin-top:80px !important;
}

/********** Contents **********/
.content {
	margin-top:15px;
	width:900px;
	float: left;
	background:transparent url('images/bg-gris-contenu.png')  no-repeat;
}
.topcentre {
	width:871px;
	height:15px;
	margin:0 0 0 15px;
	float:left;
	background: transparent url(images/top-bg-blanc-contenu.png) top no-repeat;
}
.centre {
	width:871px;
	/height:100%;
	-height:100%;
	margin:0 0 0 16px;
	float:left;
	background: transparent url(images/bg-blanc-contenu.png) top repeat-y;
}
.contentcentre1 {
	width:155px;
	height:120px;
	float:left;
	background: transparent url(images/bg-gris-rubrique.png) top no-repeat;
}
.contentcentre2 {
	width:871px;
	float:left;
	display:inline;
}
.contentcentre3 {
	width:410px;
	background: transparent url(images/bg-gris-rubrique2.png) top no-repeat;
	float:left;
	height:166px auto;
	margin-bottom:15px;
}
.contentrub1 {
	width:155px;
	margin:0 2px 0 15px;
	float:left;
	margin-bottom:25px;
}
.contentrub2 {
	width:380px;
	margin:5px 0 15px 15px;
	float:left;
}
.generalcontent {
	width:100%;
	float:left;
	/margin-bottom:30px;
	-margin-bottom:30px;
}
.cemsleft {
	width:410px;
	float:left;
}
.cemsright {
	width:410px;
	/*height:100% !important;*/
	-height:5px;
	/height:5px;
	float:right;
}
/********** End Contenant **********/

.picto {
	width:60px;
	height:80px;
	float:left;
	margin:10px 0 0 15px;
}
.logo-part {
	width:165px;
	height:65px;
	float:left;
	margin:0 20px 10px 0;
}
.info {
	margin:25px 5px 0 0;
}
.spacerV {
	height:22px;
}
.champ {
	border:2px solid #DDD;
	width:260px;
	float:right;
	margin-right:10px !important;
	-margin-right:5px;
	/margin-right:5px;
}

/********** Table **********/
table {
	text-align:center;
}
.details {
	background-color:#dadada;
	color:#818181;
	font-size:12px;
	font-weight:bold;
}
.Failure {
	color:#ff9900;
	background-color:#FFF;
}
/********** End Table **********/









