<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app id="ConvertigoServer" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Convertigo Enterprise Mashup Server</display-name>

    <!-- Startup servlet for C-EMS engine -->  
    <servlet>
        <servlet-name>EngineServlet</servlet-name>
        <servlet-class>com.twinsoft.convertigo.engine.servlets.EngineServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!--
    <session-config> 
        <session-timeout>1</session-timeout> 
    </session-config>
    -->
    
    <filter>
		<filter-name>ProjectsDataFilter</filter-name>
		<filter-class>com.twinsoft.convertigo.engine.servlets.ProjectsDataFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ProjectsDataFilter</filter-name>
        <url-pattern>/projects/*</url-pattern>
	</filter-mapping>
    
    <!-- Server XSLT entry point -->
    <servlet>
        <servlet-name>ConvertigoXsltServlet</servlet-name>
        <servlet-class>com.twinsoft.convertigo.engine.servlets.ConvertigoXsltServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConvertigoXsltServlet</servlet-name>
        <url-pattern>*.cxml</url-pattern>
    </servlet-mapping>

    <!-- Client XSLT entry point -->
    <servlet>
        <servlet-name>ClientXsltServlet</servlet-name>
        <servlet-class>com.twinsoft.convertigo.engine.servlets.ClientXsltServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientXsltServlet</servlet-name>
        <url-pattern>*.xml</url-pattern>
    </servlet-mapping>

    <!-- Proxy entry point -->
    <servlet>
        <servlet-name>ProxyServlet</servlet-name>
        <servlet-class>com.twinsoft.convertigo.engine.servlets.ProxyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProxyServlet</servlet-name>
        <url-pattern>*.proxy</url-pattern>
    </servlet-mapping>

    <!-- Reverse proxy entry point -->
    <servlet>
        <servlet-name>ReverseProxyServlet</servlet-name>
        <servlet-class>com.twinsoft.convertigo.engine.servlets.ReverseProxyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReverseProxyServlet</servlet-name>
        <url-pattern>/rproxy/*</url-pattern>
    </servlet-mapping>

    <!-- Axis entry point -->
    <servlet>
        <servlet-name>AxisServlet</servlet-name>
		<display-name>Apache-Axis Servlet</display-name>
        <servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
            <servlet-name>AxisServlet</servlet-name>
            <url-pattern>/servlet/AxisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
            <servlet-name>AxisServlet</servlet-name>
            <url-pattern>*.jws</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
            <servlet-name>AxisServlet</servlet-name>
            <url-pattern>/services/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AxisAdminServlet</servlet-name>
		<display-name>Apache-Axis AxisAdmin Servlet (Web Admin)</display-name>
        <servlet-class>org.apache.axis2.webapp.AxisAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AxisAdminServlet</servlet-name>
        <url-pattern>/axis2-admin/*</url-pattern>
    </servlet-mapping>

    <!-- Web service entry point -->
	<servlet>
		<servlet-name>WebServiceServlet</servlet-name>
		<servlet-class>com.twinsoft.convertigo.engine.servlets.WebServiceServlet</servlet-class>
	</servlet>
    <servlet-mapping>
        <servlet-name>WebServiceServlet</servlet-name>
        <url-pattern>*.ws</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebServiceServlet</servlet-name>
        <url-pattern>*.wsr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebServiceServlet</servlet-name>
        <url-pattern>*.wsl</url-pattern>
    </servlet-mapping>

    <!-- PDF entry point -->
	<servlet>
		<servlet-name>PdfServlet</servlet-name>
		<servlet-class>com.twinsoft.convertigo.engine.servlets.PdfServlet</servlet-class>
	</servlet>
    <servlet-mapping>
        <servlet-name>PdfServlet</servlet-name>
        <url-pattern>*.cpdf</url-pattern>
    </servlet-mapping>

    <!-- Pure XML entry point -->
	<servlet>
		<servlet-name>XmlServlet</servlet-name>
		<servlet-class>com.twinsoft.convertigo.engine.servlets.XmlServlet</servlet-class>
	</servlet>
    <servlet-mapping>
        <servlet-name>XmlServlet</servlet-name>
        <url-pattern>*.pxml</url-pattern>
    </servlet-mapping>

    <!-- Binary files entry point -->
	<servlet>
		<servlet-name>BinaryServlet</servlet-name>
		<servlet-class>com.twinsoft.convertigo.engine.servlets.BinaryServlet</servlet-class>
	</servlet>
    <servlet-mapping>
        <servlet-name>BinaryServlet</servlet-name>
        <url-pattern>*.bin</url-pattern>
    </servlet-mapping>
    
    <!-- JSON entry point -->
	<servlet>
		<servlet-name>JsonServlet</servlet-name>
		<servlet-class>com.twinsoft.convertigo.engine.servlets.JsonServlet</servlet-class>
	</servlet>
    <servlet-mapping>
        <servlet-name>JsonServlet</servlet-name>
        <url-pattern>*.json</url-pattern>
    </servlet-mapping>

    <!-- JSONP entry point -->
	<servlet>
		<servlet-name>JsonPServlet</servlet-name>
		<servlet-class>com.twinsoft.convertigo.engine.servlets.JsonPServlet</servlet-class>
	</servlet>	
    <servlet-mapping>
        <servlet-name>JsonPServlet</servlet-name>
        <url-pattern>*.jsonp</url-pattern>
    </servlet-mapping>

    <!-- Webclipping entry point -->
	<servlet>
		<servlet-name>WebClippingServlet</servlet-name>
		<servlet-class>com.twinsoft.convertigo.engine.servlets.WebClippingServlet</servlet-class>
	</servlet>
    <servlet-mapping>
        <servlet-name>WebClippingServlet</servlet-name>
        <url-pattern>/webclipper/*</url-pattern>
    </servlet-mapping>
    
    <!-- Widgets entry point -->
    <servlet>
        <servlet-name>WidgetsServlet</servlet-name>
        <servlet-class>com.twinsoft.convertigo.engine.servlets.WidgetsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WidgetsServlet</servlet-name>
        <url-pattern>/widgets/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<servlet-name>RsaPublicKeyServlet</servlet-name>
		<servlet-class>com.twinsoft.convertigo.engine.servlets.RsaPublicKeyServlet</servlet-class>
	</servlet>
    <servlet-mapping>
        <servlet-name>RsaPublicKeyServlet</servlet-name>
        <url-pattern>/rsa/publickey</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<servlet-name>QRCodeServlet</servlet-name>
		<servlet-class>com.d_project.qrcode.web.QRCodeServlet</servlet-class>
	</servlet>
    <servlet-mapping>
        <servlet-name>QRCodeServlet</servlet-name>
        <url-pattern>/qrcode</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<servlet-name>ExternalBrowserServlet</servlet-name>
		<servlet-class>com.twinsoft.convertigo.engine.externalbrowser.ExternalBrowserServlet</servlet-class>
	</servlet>
    <servlet-mapping>
        <servlet-name>ExternalBrowserServlet</servlet-name>
        <url-pattern>/ebs</url-pattern>
    </servlet-mapping>
	
    <!-- HTTP print entry point -->
	<!--  Disabled in this version
	<servlet>
		<servlet-name>HttpPrintServlet</servlet-name>
		<servlet-class>
			com.twinsoft.convertigo.engine.servlets.HttpPrintServlet
		</servlet-class>
	</servlet>
	-->
	
	<!--  Disabled in this version
	<servlet-mapping>
		<servlet-name>HttpPrintServlet</servlet-name>
		<url-pattern>*.prn</url-pattern>
	</servlet-mapping>
	-->
	
    <!-- Web Admin console -->  
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.twinsoft.convertigo.engine.admin.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin/services/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    
	<!-- MIME mappings -->
	<mime-mapping>
		<extension>wml</extension>
		<mime-type>text/vnd.wap.wml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>wmlc</extension>
		<mime-type>application/vnd.wap.wmlc</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>wmls</extension>
		<mime-type>text/vnd.wap.wmls</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>wmlscriptc</extension>
		<mime-type>application/vnd.wap.wmlscriptc</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>wbmp</extension>
		<mime-type>image/vnd.wap.wbmp</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xsl</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>
    <mime-mapping>
        <extension>inc</extension>
        <mime-type>text/plain</mime-type>
    </mime-mapping>

</web-app>
