/* @import url("platform:/plugin/org.eclipse.ui.themes/css/e4-dark.css"); */

#com-twinsoft-convertigo-eclipse-views-mobile-MobilePaletteView * {
  background-color: #2f2f2f;
}

#com-twinsoft-convertigo-eclipse-views-projectexplorer-ProjectExplorerViewMStack Tree {
  background-color: #242424;
}

.MPartStack,
#com-twinsoft-convertigo-eclipse-views-projectexplorer-ProjectExplorerViewMStack,
#com-twinsoft-convertigo-eclipse-views-sourcepicker-SourcePickerViewMStack,
#org-eclipse-ui-views-PropertySheetMStack,
#com-twinsoft-convertigo-eclipse-views-loggers-EngineLogViewMStack {
  swt-selected-tab-fill: rgb(47, 47, 47);
  swt-unselected-tab-fill: rgb(47, 47, 47);
  swt-selected-tabs-color: rgb(47, 47, 47);
  swt-unselected-tabs-color: rgb(47, 47, 47);
  swt-outer-keyline-color: rgb(0, 200, 247);
  swt-inner-keyline-color: rgb(0, 200, 247);
  swt-tab-outline: rgb(0, 200, 247);
}

.MPartStack *,
#com-twinsoft-convertigo-eclipse-views-projectexplorer-ProjectExplorerViewMStack *,
#com-twinsoft-convertigo-eclipse-views-sourcepicker-SourcePickerViewMStack *,
#org-eclipse-ui-views-PropertySheetMStack *,
#com-twinsoft-convertigo-eclipse-views-loggers-EngineLogViewMStack * {
  background-color: inherit;
}

.View Tree {
  color: white;
  swt-selection-background-color: rgb(81, 86, 88);
  swt-selection-foreground-color: white;
}

NewProjectWizardComposite1, NewProjectWizardComposite2, NewProjectWizardComposite3,
NewProjectWizardComposite4, NewProjectWizardComposite5, NewProjectWizardComposite6,
NewProjectWizardComposite7, NewProjectWizardComposite8, NewProjectWizardComposite9,
NewProjectWizardComposite10, NewProjectWizardComposite11, ConfigureSAPConnectorComposite,
ConfigureSQLConnectorComposite, StatementGeneratorComposite, LearnScreenClassWizardComposite1,
LearnScreenClassWizardComposite2, NewProjectWizardCompositeSummarySampleProject,
ProjectReferenceComposite,
ComponentExplorerComposite, ComponentExplorerComposite *,
ObjectsExplorerComposite, ObjectsExplorerComposite * {
	background-color: inherit;
}

#com-twinsoft-convertigo-eclipse-views-loggers-EngineLogView Table {
  color: unset;
  background-color: unset;
}

.c8oEnginePreferenceExpandBar {
  color: #2f2f2f;
}