<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="eclipse">
	<locations>
		<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
			<unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.egit.gitflow.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.wildwebdeveloper.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.mylyn.wikitext_feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.mylyn.wikitext.editors_feature.feature.group" version="0.0.0"/>
			<repository location="https://download.eclipse.org/releases/2023-09/"/>
		</location>
		<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
			<unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
			<repository location="https://download.eclipse.org/eclipse/updates/4.29/"/>
		</location>
	</locations>
</target>