<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0"
	id="com.convertigo.mobile.template" version="1.0.0">

	<!-- This name is also the application name on your device -->
	<name>Convertigo Mobile Template</name>

	<description>Template for Mobile Project</description>

	<author href="http://www.convertigo.com" email="sales@convertigo.com">Convertigo
	</author>
	
<!-- See the following page for more documentation about config.xml:
	 https://build.phonegap.com/docs/config-xml  -->
	 
	<gap:platforms>
		<gap:platform minVersion="2.1" name="android"/>
		<gap:platform name="webos"/>
		<gap:platform name="iOS"/>
		<gap:platform name="symbian.wrt"/>
		<gap:platform name="blackberry" project="widgets"/>
	</gap:platforms>
	
	<preference name="phonegap-version" value="2.9.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />

	<icon src="icon.png"/>
	<icon src="res/icon/android/icon36ldpi.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="res/icon/android/icon48mdpi.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="res/icon/android/icon72hdpi.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="res/icon/android/icon96xhdpi.png"  gap:platform="android"    gap:density="xhdpi" />
    <icon src="res/icon/bb/icon80.png"     		  gap:platform="blackberry" />
    <icon src="res/icon/bb/icon80.png"     		  gap:platform="blackberry" gap:state="hover"/>
    <icon src="res/icon/ios/icon57.png"           gap:platform="ios"        width="57" height="57" />
    <icon src="res/icon/ios/icon72.png"           gap:platform="ios"        width="72" height="72" />
    <icon src="res/icon/ios/icon572x.png"         gap:platform="ios"        width="114" height="114" />
    <icon src="res/icon/ios/icon722x.png"         gap:platform="ios"        width="144" height="144" />
    <icon src="res/icon/webos/icon64.png"         gap:platform="webos" />
    <icon src="res/icon/winphone/icon48.png"      gap:platform="winphone" />
    <icon src="res/icon/winphone/icon173tile.png" gap:platform="winphone"   gap:role="background" />
	
	<gap:splash src="res/splash/android/ldpi.png"  			     gap:platform="android" gap:density="ldpi" />
    <gap:splash src="res/splash/android/mdpi.png"  			     gap:platform="android" gap:density="mdpi" />
    <gap:splash src="res/splash/android/hdpi.png"  			     gap:platform="android" gap:density="hdpi" />
    <gap:splash src="res/splash/android/xhdpi.png" 			     gap:platform="android" gap:density="xhdpi" />
    <gap:splash src="res/splash/bb/splash225.png"       	     gap:platform="blackberry" />
    <gap:splash src="res/splash/ios/splashiPhone.png"   	     gap:platform="ios"     width="320" height="480" />
    <gap:splash src="res/splash/ios/splashiPhoneLandscape.png"   gap:platform="ios"     width="480" height="320" />
    <gap:splash src="res/splash/ios/splashiPhone2x.png" 	     gap:platform="ios"     width="640" height="960" />
    <gap:splash src="res/splash/ios/splashiPhoneLandscape2x.png" gap:platform="ios"     width="960" height="640" />
    <gap:splash src="res/splash/ios/splashiPad.png"     	     gap:platform="ios"     width="768" height="1024" />
    <gap:splash src="res/splash/ios/splashiPadLandscape.png"     gap:platform="ios"     width="1024" height="768" />
    <gap:splash src="res/splash/ios/splashiPad2x.png"     	     gap:platform="ios"     width="1536" height="2008" />
    <gap:splash src="res/splash/ios/splashiPadLandscape2x.png"   gap:platform="ios"     width="2008" height="1536" />
    <gap:splash src="res/splash/winphone/splash.jpg" 		     gap:platform="winphone" />

	<!-- If you do not want any permissions to be added to your app, add the
    following tag to your config.xml; you will still have the INTERNET
    permission on your app, which PhoneGap requires. -->
	<preference name="permissions" value="none"/> 
	
	<!-- Currently supported through this interface and to enable individual permissions use the following examples: -->
	<!-- <feature name="http://api.phonegap.com/1.0/device" />-->
	<!-- <feature name="http://api.phonegap.com/1.0/camera"/>-->
	<!-- <feature name="http://api.phonegap.com/1.0/contacts"/>-->
	<!-- <feature name="http://api.phonegap.com/1.0/file"/>-->
	<!-- <feature name="http://api.phonegap.com/1.0/geolocation"/>-->
	<!-- <feature name="http://api.phonegap.com/1.0/media"/>-->
	<!-- <feature name="http://api.phonegap.com/1.0/network"/>-->
	<!-- <feature name="http://api.phonegap.com/1.0/notification"/>-->

	<!--
		Expose access to all URIs, including the file and http protocols
	-->
	<access origin="*" subdomains="true"/>

</widget>
