<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Index</title>
	
	<link type="text/css" rel="styleSheet" href="../../css/button.css" />
    <link type="text/css" rel="styleSheet" href="../../css/contextMenu.css" />
    <link type="text/css" rel="styleSheet" href="../../css/autocomplete.css" />
    <link type="text/css" rel="styleSheet" href="css/sna.css" />
    <link type="text/css" rel="styleSheet" href="css/tooltip.css" />
    <link type="text/css" rel="stylesheet" href="css/calendar-system.css"/>
    <link type="text/css" rel="stylesheet" href="css/mashupUtils.css"/>
    
	<script type="text/javascript" src="scripts/scriptlib.js"><!--script--></script>
	<script type="text/javascript" src="scripts/scriptlib-param.js"><!--script--></script>
	<script type="text/javascript" src="scripts/contextMenu.js"><!--script--></script>
	<script type="text/javascript" src="scripts/keymapsna.js"><!--script--></script>
	<script type="text/javascript" src="scripts/tooltip.js"><!--script--></script>
	<script type="text/javascript" src="scripts/position.js"><!--script--></script>
	<script type="text/javascript" src="scripts/calendar.js"><!--script--></script>
	<script type="text/javascript" src="scripts/calendar-en.js"><!--script--></script>
	<script type="text/javascript" src="scripts/calendar-setup.js"><!--script--></script>
	<script type="text/javascript" src="scripts/selectMenu.js"><!--script--></script>
	<script type="text/javascript" src="scripts/xmlparse.js"><!--script--></script>
	<script type="text/javascript" src="scripts/mashupUtils.js"><!--script--></script>
	<script type="text/javascript" src="../../scripts/button.js"><!--script--></script>
	<script type="text/javascript" src="../../scripts/cookies.js"><!--script--></script>
	<script type="text/javascript" src="../../scripts/autocomplete.js"><!--script--></script>
	
<!-- 	Switch back easy to the library version of the project creation by toggling comments ( ctrl + shift + c )  -->
	
	<script type="text/javascript" src="../../scripts/c8o.scriptlib.js"></script>
<!-- 	<script type="text/javascript" src="../../scripts/6.3.0/c8o.scriptlib.js"></script> -->
	
	<script type="text/javascript">
		initVar();
		tooltip.show = f_void;
		tooltip.hide = f_void;
	</script>
</head>

<body onresize="resize();" style="margin-left: 0px; margin-top: 0px; height: 100%;">
<!--TOOLTIP DIV-->
<div id="tooltip">Tooltip!</div>

<!--WAITDIV-->
<div id="waitDiv">
    <div></div>
    <img src="../../images/loading.gif"/>
</div>

<!-- RESULT DIV -->
<div id="resultDiv"></div>
<!-- TEMPLATE HTML -->
<!-- Include your html template here -->

</body>
</html>