<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
		<title>Index</title>
		
<!-- 	Switch back easy to the library version of the project creation by toggling comments ( ctrl + shift + c )  -->
		
		<link href="../../css/weblib.css" type="text/css" rel="stylesheet"/>
<!-- 		<link href="../../css/archive/weblib.6.1.10.css" type="text/css" rel="stylesheet"/> -->

		<link href="css/custom.css" type="text/css" rel="stylesheet"/>
		
		<script src="../../scripts/jquery.min.js" type="text/javascript"></script>
<!-- 		<script src="../../scripts/archive/jquery.1.7.1.min.js" type="text/javascript"></script> -->
		
		<script src="../../scripts/weblib.js" type="text/javascript"></script>
<!-- 		<script src="../../scripts/archive/weblib.6.1.10.js" type="text/javascript"></script> -->
		
		<script src="js/custom.js" type="text/javascript"></script>
	</head>
	<body>	
		<div id="wait_div">
			<div></div>
			<img src="../../images/loading.gif"/>
		</div>
	</body>
</html>