/* CSS Document */

div.mashupTooltip {
	position:absolute;
	z-index: 1000;
	top: 10px;
	left: 20px;
	background-color: #C0C0C0;
	width: 150px;
	border: 2px solid #404040;
	font-size: 9px;
	display: none;
}

input.mashupableFieldText {
	font-size: 9px;
	font-family: Lucida Console;
	border-color: #000000;
	cursor: pointer;
}