@charset "utf-8";
/* CSS Document */
@import url("flashupdate_fonts/fontfaceROBOTO.css");
body{
	font-family: 'RobotoRegular', Arial, sans-serif;
	letter-spacing: 0;
	background-color: #111111;
	color: #fff;
	padding:0.8em;
}
#main, #checkingUpdate, #progress, #requireUserConfirmation {
	display: none;
}
/* ----------------------- */
/* Style / Contenaire Alert */
/* ----------------------- */
h1 {
	font: 1em 'RobotoBold', Arial, sans-serif;
	color:#cccccc;
	text-transform: uppercase;
	border-bottom: 3px solid #595959;
	padding: 5px 10px;
	letter-spacing: 0.1em;
}
.dataProjectName, .container h2 {
	padding:15px 0.8em;
	border-bottom: 2px solid #292929;
	font-family: 'RobotoRegular', Arial, sans-serif;
	letter-spacing: 0;
	font-size : medium;
}
.bgContainerAlert {
	position:absolute;
	top:0;
	left:0;
	background-color: rgba(0,0,0,.7);	
	width:100%;
	height:100%;
}
.containerAlert:before {
	content:"";
	display:block;
	height:2px;
	width:100%;
	background: -moz-linear-gradient(left,  rgba(59,59,59,0) 0%, rgba(66,66,66,1) 33%, rgba(59,59,59,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(59,59,59,0)), color-stop(33%,rgba(66,66,66,1)), color-stop(100%,rgba(59,59,59,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(59,59,59,0) 0%,rgba(66,66,66,1) 33%,rgba(59,59,59,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(59,59,59,0) 0%,rgba(66,66,66,1) 33%,rgba(59,59,59,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(59,59,59,0) 0%,rgba(66,66,66,1) 33%,rgba(59,59,59,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(59,59,59,0) 0%,rgba(66,66,66,1) 33%,rgba(59,59,59,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003b3b3b', endColorstr='#003b3b3b',GradientType=1 ); /* IE6-9 */
}
.containerAlert {
	background-color: #282828;
	width:90%;
	margin:0 auto;
	margin-top:40%; /* pour smartphone */
	/*margin-top:20%; pour tablette */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow:  0px 2px 5px 2px #0c0c0c;
	-moz-box-shadow:  0px 2px 5px 2px #0c0c0c;
	box-shadow:  0px 2px 5px 2px #0c0c0c;
	
}
.containerAlert h2 {
	font-family: 'RobotoRegular', Arial, sans-serif;
	font-size:1.2em;
	color: #33b5e5;
	text-align:left;
	border-bottom: 3px solid #33b5e5;
	padding:15px;
}
.containerAlert p {
	text-align:center;
	padding: 20px 10px;
	border-bottom: 1px solid #3e3e3e;
	line-height:1.2em;
}
button {
	background: none;
	border:0;
}
.btn {
	display:inline-block;
	width:49.8%;
	padding: 20px 0px;
	text-align:center;
	color:#FFF;
	text-decoration:none;
}
.btn:hover {
	background-color: #257390;
}
.btn:active {
	background-color: #2c94bb;
}
.btn:focus {
	border: 1px solid #257390;
	background-color: #1b4351;
}
#requireUserConfirmationYes {
	border-right: 1px solid #3e3e3e;
}

/* ----------------------- */
/* Progress bar / Canvas */
/* ----------------------- */
canvas {
	border:0px solid #fff;
}
.progressBloc {
	position:relative;
	width: 200px;
	margin: 20% auto;
}
#progress {
	padding-top: 10px;
	width: 200px;
	margin: auto;
}
#progressMsg {
	width: 100px;
	margin:0 auto;
	margin-top:-130px;
	text-align: center;
}
#progressMsg hr {
	width: 33%;
}
#progressGaugeColor1, #progressGaugeColor2 {
	display: none;
}
#progressGaugeColor1 {
	color: #333333;
}
#progressGaugeColor2 {
	color: #33b5e5;
}

